@model SpeedVST.App.Models.PluginListViewer

@{
    ViewBag.Title = "List";
}

<h2 class="text-center">Plugin Base</h2>

<table class="table-light mt3">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Category</th>
        <th>Release Date</th>
        <th>Price $$</th>
    </tr>
    @foreach (var s in Model.PluginBase)
    {
        <tr>
            <td>@s.Title</td>
            <td>@s.Author</td>
            <td>@s.Cat</td>
            <td>@s.ReleaseDate.ToShortDateString()</td>            
            <td>@s.Price</td>
        </tr>
    }
</table>

<p class="mt3">@Html.ActionLink("Add Plugin", "../Base/AddNewPlugin")</p>
